@use 'partial';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: partial.$background;
  }

  .hero{
    width: 100%;
    height: 40%;
    object-fit: cover;
  }

  .headerimg{
    object-fit: cover;
    width: 100%;
    height: 30rem;
    position: relative;
    
  }

  .herotekst{
    position: absolute;
  left: 50%;
  top: 15rem;
  transform: translate(-50%, -50%);
  background-color: transparent;
  }
  .herotekst p {
    background-color: transparent;
    color: partial.$background;
  }

//Index side:


//Scroll effekt

::-webkit-scrollbar
{
  width: 0;
}

#progress-bar {
  position: fixed;
  top: 0.4rem;
  right: 0.3rem;
  width: 0.7rem;
  border-radius: 1rem;
  background-color: partial.$fontcolor;
  display: none;
}


.contentcontainer{
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
  
  .maincontent{
      grid-column-start: 2;
      grid-column-end: 3;

   }
}

.introcontainer{
  display: flex;
  justify-content: center;

  .intro{
      width: 700px;
      margin-top: -4rem;
      background-color: white;
      position: relative;
      p{
        background-color: transparent;
        padding: 1rem;
        font-size: 1.2rem;
      }
  }
}

.infoimg{
  width: 70%;
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: -3rem;
}

.number{
  color: blue;
  font-family: battambang;
  font-size: 10rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: -2rem;
}

.articlehead{
  display: flex;
  margin-top: 5rem;
  align-items: baseline;

}


.breaker {
  width: 100%;
  background-color: partial.$fontcolor;
  height: 3px;
  position: relative;
  top: -3rem;
}

.testHero{
  margin-top: 4rem;
  width: 100%;
  height: auto;
  position: relative;
}

.testbg{
  object-fit: cover;
  width: 100%;
  height: 50vh;
}
 .testlink{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
 }



h1{
  @include partial.heading;
  color: partial.$background;
  font-size: 3rem;
  background-color: transparent;
}

  //Branching side:

  .branchingContainer{
    position: relative;
  }

  .bgimg{
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
  }

  .logo{
    margin: 2rem;
    position: absolute;
    background-color: transparent;
    z-index: 2;
  }

  .branchingBox{
    width: 40rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
    background-color: partial.$background;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
  }

.number{
    @include partial.heading;
    font-size: 9rem;
}
  
  h2, h3{
    @include partial.heading;
  }

  p{
    @include partial.parag;
  }

  a{
    @include partial.svarknap;
  }

  .box{
    width: 100%;
    background-color: #EFEFEF;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: box-shadow 0.3s ease;
  }

  .box.shadow{
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
  }


  /*Mobil*/

  @media (max-width: 700px) {
    .branchingBox{
        width: 90%;
        transform: translate(-50%, 20%);
    }

    .box:active {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
      }
  }
